*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
@font-face {
    font-family: 'inter';
    src: url(../../../Learning/fonts/InterTight-VariableFont_wght.ttf)
}
@font-face{
    font-family: 'sequel';
    src: url(../../../Learning/fonts/ArchivoBlack-Regular.ttf)
}
@font-face{
    font-family: 'tec';
    src: url(../../../Learning/fonts/BBHBartle-Regular.ttf);
}
@font-face{
    font-family: 'other';
    src: url(../../../Learning/fonts/Sekuya-Regular.ttf);
}
.heading{
    width: 285px;
    font-family: 'other';
    color: transparent;
    background: linear-gradient(to right , #4D7327, #6F8C51);
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px black;
    font-size: 35px;
    padding: 13px 7px;
    transition: color 0.5s;
    position: relative;
    left: 30px;
}
.heading1{
    position: absolute;
    display: flex;
    top: 20px;
    right: 150px;
    gap: 10px;
}
a{
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: 'inter';
    width: 100px;
    padding: 15px 12px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    top: 0;
    font-weight: bold;
}
a::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    background: linear-gradient(to right , #4D7327, #7fd529) ;
    transform: scaleY(0);    
    transform-origin: bottom; 
    transition: transform 0.4s ease;
    z-index: -1;
}
a:link{color: black;}
a:visited{color: black;}
a:hover{
    color: white;
}
a:hover::before{
    transform: scaleY(1);
}
.mode{
    width: 50px;
    padding: 9px;
    font-size: 25px;
    position: absolute;
    left: 94%;
    top: 17px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
}
.mode:hover{
    transform: scale(1.1);
}
.mode:active{
    transform: scale(0.8) rotate(360deg);
}