*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}
body{
    height: 100vh;
}
button{
    width: 40px;
    height: 40px;
    background-color: transparent;
    transition: transform 0.4s ease;
    border: none;
    position: fixed;
    z-index: 20;
}
button > i{
    transition: transform 0.5s ease, background-color 0.4s;
    font-size: 25px;
    color: white;
    z-index: 5;
}
button.active{
    transform: translateX(112px);
}
button>i:not(.active){
    color: black;
}
div{
    background-color: black;
    width:0;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 19;
    left: 0;
    position: fixed;
    pointer-events: none;
    display: flex;
    flex-direction: column;     
    gap: 20px;
    transition: width 0.3s ease, background-color 0.4s;
}
div.active{
    width: 150px;
    pointer-events: auto;
}
div:not(.active){
    background: white;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    top: 60px;
    border: 1px solid white;
    position: relative;
    left: 5px;
    background-color: transparent;
    width: 140px;
    border-radius: 13px;
    overflow: hidden;
}
.btn::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;               
    width: 100%;
    height: 100%;
    background-color: blue;  
    transform: scaleX(0);    
    transform-origin: left; 
    transition: transform 0.4s ease;
    z-index: -1;
}
div .btn{
    opacity: 0;
    transform: scale(0.7);
    transition:
    opacity 0.4s ease,
}
div.active .btn{
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.9s ease 0.9s,
    transform 0.9s ease 0.9;
}
.btn:hover::before{
    transform: scaleX(1);
}
.btn:hover{
    transform: scale(1.1);
}
.btn:active{
    transform: scale(0.95);
}
.mode{
    position: absolute;
    right: 20px;
    top: 20px;
}

