
body{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #111;
    transition: background-color 0.3s ease;
}
body.light{
    background: #f5f5f5;
}
.text{
    color: white;
}
