*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: conic-gradient(
        from 30deg at 50% 50%,
        #F2F2F2 0deg,
        rgb(180, 180, 145)90deg,
        #F2F2F2 210deg,
        rgb(180, 180, 145) 300deg,
        #F2F2F2 360deg

    );
    transition: background-color 0.6s ease;
}
body.light{
    background: conic-gradient(
        from 30deg at 50% 50%,
        #404040  0deg,
        #626060 90deg,
        #404040   210deg,
        #626060 300deg,
        #404040  360deg

    );
}
@keyframes rotateBg {
    to {  transform: rotate(360deg); }
 }
@keyframes sugiu{
    0%{ transform: translateY(0);}
    33%{ transform: translateY(30px);}
    66%{ transform: translateY(-20px);}
    100%{ transform: translateY(0);}
}
@font-face {
    font-family: 'inter';
    src: url(../../../Learning/fonts/InterTight-VariableFont_wght.ttf)
}
@font-face{
    font-family: 'sequel';
    src: url(../../../Learning/fonts/ArchivoBlack-Regular.ttf)
}
@font-face{
    font-family: 'tec';
    src: url(../../../Learning/fonts/BBHBartle-Regular.ttf);
}
@font-face{
    font-family: 'other';
    src: url(../../../Learning/fonts/Sekuya-Regular.ttf);
}
/* .light .center{
    box-shadow: 
    inset 0 0 25px 3px rgb(58, 140, 240);
    } */
    .center{
        position: relative;
        top: 13%;
    left: 100px;
    width: 650px;
    height: 330px;
    border-radius: 25px;
    box-shadow: 0px 0px 50px 10px #000000;
    overflow: hidden;
}
.center::before{
    content: "";
    position: absolute;
    width: 700px;
    height: 900px;
    top: -85%;
    left: -30px;
    background: conic-gradient(
        from 140deg at 50% 50%,
        transparent 0deg,
        #010101 15deg,
        transparent 90deg,
        transparent 195deg,
        #010101 195deg,
        transparent 270deg,
        transparent 375deg
        );
    z-index: -1;
    animation: rotateBg 3s ease-in-out infinite alternate forwards;
    
}
.light .center::before{
    background: conic-gradient(
        from 140deg at 50% 50%,
        transparent 0deg,
        #010101 15deg,
        transparent 90deg,
        transparent 195deg,
        #010101 195deg,
        transparent 270deg,
        transparent 375deg
        );
}
.center::after{
    content: "";
    width: 610px;
    height: 280px;
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 20px 15px;
    border-radius: 25px;
    gap: 20px;
    transition: box-shadow 0.6s, background-color 0.6s;
    background-color: #4D7327;
    box-shadow: 
    inset 0 0 25px 3px #7fd529;
}
.light .center::after{
    background-color: #6F8C51;
}
.image{
    position: absolute;
    top: 18%;
    left: 40%;
    width: 800px;
    filter: drop-shadow(0 15px 40px rgba(0,0,0,10));
    animation: sugiu 3s ease-in-out infinite  forwards;
    filter: grayscale(100%) sepia(100%) hue-rotate(300deg);
}
.heading{
    width: 285px;
    font-family: 'other';
    color: transparent;
    background: linear-gradient(to right , #4D7327, #6F8C51);
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px black;
    font-size: 35px;
    padding: 13px 7px;
    transition: color 0.5s;
    position: relative;
    left: 30px;
}
.light .heading{
    background: linear-gradient(to right , #6F8C51, #4D7327);
    -webkit-background-clip: text;
}
.heading1{
    position: absolute;
    display: flex;
    top: 20px;
    right: 150px;
    gap: 10px;
}
a{
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: 'inter';
    width: 100px;
    padding: 15px 12px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    top: 0;
    font-weight: bold;
}
a::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    background: linear-gradient(to right , #4D7327, #7fd529) ;
    transform: scaleY(0);    
    transform-origin: bottom; 
    transition: transform 0.4s ease;
    z-index: -1;
}
a:link{color: black;}
a:visited{color: black;}
.light a::before{
    background: linear-gradient(to right, #7fd529, #4D7327) ;
}
a:hover{
    color: white;
}
a:hover::before{
    transform: scaleY(1);
}
.heading2{
    color: white;
    font-size: 60px;
    font-family: 'sequel';
    border-radius: 15px;
    line-height: 4rem;
    margin-left: 15px;
    position: relative;
    top: 20px;
    left: 15px;
    z-index: 1;
}
.heading3{
    color: #7fd529;
    font-family: 'tec';
    margin-left: 15px;
    transition: color 0.6s ;
    -webkit-text-stroke: 1px white;
    position: relative;
    top: 30px;
    left: 15px;
    z-index: 1;
}
.cb{
    position: absolute;
    right: 10px;
    width: 150px;
}
.light .heading3{
    color: #4D7327;
}
.presentation{
    color: rgb(255, 255, 255);
    font-family: 'inter';
    margin-left: 15px;
    font-size: 20px;
    font-weight: 800;
    position: relative;
    top: 40px;
    left: 15px;
    z-index: 1;
}
.icons{
    width: 300px;
    height: 70px;
    position: absolute;
    top: 70%;
    left: 100px;
    display: flex;
    gap: 50px;
}
.icons > .btn1{
    border: 2px solid #4D7327;
    color:#4D7327;
    cursor: pointer;
    font-size: 40px;
    background: transparent;
    padding: 13px 15px;
    border-radius: 49%;
    transform: scale(1);
    transition: transform 0.4s ease 0.1s, color 0.4s ease 0.1s, border 0.4s ease 0.1s;
    
}
.icons>.btn1:hover{
    color: #7fd529;
    border: 2px solid #7fd529;
    transform: scale(1.2);
}
.icons > .btn1:active{
    transform: scale(0.9);
}
.light .icons > .btn1{
    color: #7fd529;
    border: 2px solid #7fd529;
}
.light .icons > .btn1:hover{
    color: #4D7327;
    border: 2px solid #4D7327;
    transform: scale(1.2);
}
.mode{
    width: 50px;
    padding: 9px;
    font-size: 25px;
    position: absolute;
    left: 94%;
    top: 17px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
}
.mode:hover{
    transform: scale(1.1);
}
.mode:active{
    transform: scale(0.8) rotate(360deg);
}
.design{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 300px;
}
@media (max-width: 1023px) {
    
    }
@media (max-width: 767px) {
    body{
        background-repeat: no-repeat; 
    }
    .heading{
        position: relative;
        left: 80px;
        font-size: 30px;
    }
    .heading1{
        position: absolute;
        top: 80px;
        left: 15px;
        gap: 5px;
        font-size: 13px;
    }
    .mode{
        left: 20px;
        top: 10px;
    }
    .cb{
        display: none;
    }
    .image{
        display: none;
    }
    .center{
        width: 350px;
        height: 450px;
        left: 7px;
        top: 15%;
    }
    .center::before{
        width: 390px;
        height: 1020px;
        top: -60%;
        left: -30px;
    }
    .center::after{
        width: 310px;
        height: 400px;
        left: 5px;
    }
    .icons{
        top: 100%;
        left:8%;
    }
    .design{
        position: absolute;
        left: 35%;
        top: 70%;
    }
    }